<section id="comments-template">
	{% if have_comments() %}
		<h3 id="comments-number">{{ comments_number() }}</h3>

				<ul class="comment-list media-list">
					{{ wp_list_comments() }}
				</ul><!-- .comment-list -->

		<div class="comment-navigation comment-pagination">
			{{ hw_paginate_comments_links() }}
		</div><!-- .comment-navigation -->
	{% endif %}

	{{ comment_form() }}
</section><!-- #comments-template -->
