{% extends 'index.twig' %}

{% block entry_header %}
	<header class="entry-header">
		<div class="page-header">{{ do_shortcode( '[entry-title]' ) }}</div>
	</header>
{% endblock %}

{% block loop %}
	{{ parent() }}

	{{ comments_template() }}
{% endblock %}