@import "bootstrap/less/bootstrap.less";
//@import "bootstrap/less/responsive.less";

.navbar {

	margin-top: 5px;
}

.dropdown-menu ul {

	a {

		padding-left: 20px;
	}

	ul a {

		padding-left: 25px;
	}
}

.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.entry-content {

	h1, h2, h3, h4, h5, h6 {
		clear: both;
	}
}

.widget_nav_list_menu .well {
  padding: 8px 0;
}

.thumbnail-clear {
  clear: both;
}

.thumbnail img {
  .aligncenter;
}

.thumbnail .caption {
  text-align: center;
}

.textwidget {
  overflow: hidden;
}

.comment {

	.avatar {
		.img-rounded;
	}
}
