@import "bootstrap/less/bootstrap.less";
//@import "bootstrap/less/responsive.less";

.navbar {

	margin-top: 5px;
}

.dropdown-menu ul {

	a {

		padding-left: 20px;
	}

	ul a {

		padding-left: 25px;
	}
}

.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-margins {

	margin: @gridGutterWidth auto;

	&.alignleft {
		margin-right: @gridGutterWidth;
	}

	&.alignright {
		margin-left: @gridGutterWidth;
	}
}

.breadcrumb {
	.well;
	.well-small;
}

.more-link {
	text-align: center;
	.aligncenter;
}

.singular .entry-title {

	margin-top: @baseLineHeight * 2;

	a {
		color: @headingsColor;
	}
}

.entry-content {

	h1, h2, h3, h4, h5, h6 {
		clear: both;
	}

	.wp-caption {
		.img-margins;

		p.wp-caption-text {
			margin: 0;
		}
	}

	& > img, p img {
		.thumbnail;
		.img-margins;
		max-width: 95%;
	}
}

.pagination {
	.clearfix;
	clear: both;
}

.widget_nav_list_menu .well {
  padding: 8px 0;
}

.thumbnail-clear {
  clear: both;
}

.thumbnail img {
  .aligncenter;
}

.thumbnail .caption {
  text-align: center;
}

.textwidget {
  overflow: hidden;
}

.comments-header, #reply-title {
	.page-header;
}

.comment {

	.avatar {
		.img-rounded;
	}

	#reply-title {
		font-size: @baseFontSize;
		line-height: @baseLineHeight;
		margin-bottom: 10px;
	}

	.form-horizontal {

		.control-group {
			margin-bottom: 10px;
		}

		.controls {
			margin-left: 0;
			clear: both;
		}

		.control-label {
			text-align: left;
		}

		.comment-notes, .form-allowed-tags {
			display: none;
		}

		.form-submit {
			padding-left: 0;
		}
	}
}

.control-group p {
	margin: 0;
}

.form-submit {
	padding-left: @horizontalComponentOffset;

	input {
		.btn;
	}
}

.required {
	color: @errorText;
}